{{import_globals}}
<div class="azure__inner component__inner">

  {{> component this}}

  {{#if _transcript._inlineTranscript}}
  <button class="aria-label js-skip-to-transcript" tabindex="-1"></button>
  {{/if}}
  {{#if _transcript._externalTranscript}}
  <button class="aria-label js-skip-to-transcript" tabindex="-1"></button>
  {{/if}}

  <div class="azure__widget component__widget">

    <iframe tabindex="0" src="assets/azure.htm?url=//{{_media._source}}{{#if _media._captions}}&captions={{_media._caplabel}},{{_media._srclang}},//{{_media._captions}}{{else}}{{/if}}&autoplay={{_media._autoplay}}&fullscreen={{_media._setFullscreen}}&controls={{_media._controls}}&poster={{_media._poster}}&scrubber={{_media._scrubber}}&caponoff={{_media._captiononauto}}" id="{{_id}}" class="removeazureie" name="azuremediaplayer-{{_id}}" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>

  </div>
  
  {{#if _transcript}}
    <div class="azure__transcript-container">

        {{#if _transcript._inlineTranscript}}
          <button class="azure__transcript-btn-inline azure__transcript-btn js-azure-inline-transcript-toggle" aria-expanded="false">
            <span class="azure__transcript-btn-text">
              {{#if _transcript.inlineTranscriptButton}}
              {{_transcript.inlineTranscriptButton}}
              {{else}}
              {{_transcript.transcriptLink}}
              {{/if}}
            </span>
          </button>
        {{/if}}

        {{#if _transcript._externalTranscript}}
          <button class="azure__transcript-btn-external azure__transcript-btn js-azure-external-transcript-click" onclick="window.open('{{_transcript.transcriptLink}}')">
            <span class="azure__transcript-btn-text">
              {{#if _transcript.transcriptLinkButton}}
              {{_transcript.transcriptLinkButton}}
              {{else}}
              {{_transcript.transcriptLink}}
              {{/if}}
            </span>
          </button>
        {{/if}}

        {{#if _transcript._inlineTranscript}}
          <div class="azure__transcript-body-inline" aria-label="{{#if _transcript.inlineTranscriptButton}}{{_transcript.inlineTranscriptButton}}{{else}}{{_transcript.transcriptLink}}{{/if}}">
            <div class="azure__transcript-body-inline-inner" {{#if _transcript.inlineTranscriptButton}}tabindex="0"{{/if}}>
              {{{compile _transcript.inlineTranscriptBody}}}
            </div>
          </div>
        {{/if}}

    </div>
    {{/if}}
</div>
