<div class="azure-inner component-inner"  role="region" aria-label="{{_globals._components._azure.ariaRegion}}">
	{{> component this}}
	<div class="azure-widget component-widget">
        <script type='text/javascript'>//<![CDATA[ 
		$(function(){
			if(!!navigator.userAgent.match(/Trident.*rv\:11\./) || navigator.userAgent.match('MSIE 10.0;')) {
			    $( ".removeazurevid" ).remove();
			} else if ( $("html").hasClass( "accessibility" ) ) {
				$( ".removeazurevid" ).remove();
			} else {
				$( ".removeazureie" ).remove();
			}
		});//]]>
		</script>

		<iframe tabindex="0" aria-level="4" src="//aka.ms/azuremediaplayeriframe?url=//{{_media._source}}&autoplay=false" class="removeazureie azurend vjs-has-started vjs-ended" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>

		<div class='embed-container removeazurevid'>
		<video style="width:100%;" tabindex="0" aria-level="4" class="azuremediaplayer amp-default-skin amp-big-play-centered" {{#if _media._autoplay}}autoplay{{else}}{{/if}} {{#if _media._controls}}controls{{else}}{{/if}} poster="{{_media._poster}}" data-setup='{"techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS","silverlightSS", "html5"], "nativeControlsForTouch": false}'>
		    <source class="nohttp" src="//{{_media._source}}" type="application/vnd.ms-sstr+xml" />
		    <p class="amp-no-js">
		        To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
		    </p>
		</video>
		</div>
	</div>
	
	{{#if _transcript}}
    <div class="azure-transcript-container">

      <div class="azure-transcript-button-container">
        {{#if _transcript._inlineTranscript}}
          <button class="azure-inline-transcript-button button" tabindex="0" role="button">
            <div class="transcript-text-container">
              {{#if _transcript.inlineTranscriptButton}}
                {{_transcript.inlineTranscriptButton}}
              {{else}}
                {{_transcript.transcriptLink}}
              {{/if}}
            </div>
          </button>
        {{/if}}
        {{#if _transcript._externalTranscript}}
          <button onclick="window.open('{{_transcript.transcriptLink}}')" class="azure-external-transcript-button button" tabindex="0" role="button">
            <div class="transcript-text-container">
              {{#if _transcript.transcriptLinkButton}}
                {{_transcript.transcriptLinkButton}}
              {{else}}
                {{_transcript.transcriptLink}}
              {{/if}}
            </div>
          </button>
        {{/if}}
        </div>

        {{#if _transcript._inlineTranscript}}
          <div class="azure-inline-transcript-body-container">
            <div class="azure-inline-transcript-body">
            {{{a11y_text _transcript.inlineTranscriptBody}}}
            </div>
          </div>
        {{/if}}

    </div>
    {{/if}}
</div>
